<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gitPOC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FE9BAAA1CD5D96C000D5ACD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE9BAC31CD5D96D000D5ACD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE9BACE1CD5D96D000D5ACD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
